.container {

}

.main{
  margin: 0px;
}

#header{
  width:100%;
  align-items: center;
  position: fixed;
  top:0px;
  margin-bottom: 30px;
}
.containerMenu{
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 0px;
  background-color:#FFEA00;
  align-items: center;
  
}

.containerMenu h1{
  margin-left:30px;
}
.menu{
  list-style: none;
  display: flex;
  margin: 0px 30px;
}
.menu li{
  margin:30px;
}

.slider{
  background-repeat:no-repeat;
  width:100vw;
  height: 100vh;
  background-image: url("./assets/car1.jpg");
  background-size: 100%;
}

/*serviços*/

.section{
  display: flex;
  justify-content:space-around;
}

.card{
  border: solid 1px black;
  border-radius:25px;
  width:200px;
  height: 300px;
  margin:30px;
}
.cardImage{
  margin:30px;
}

.cardText{
    display: grid;
    justify-content: left;

}
.cardText h3{
  text-align: center;
}

.footer {
  width: 100%;
  height: max-content;
  /*border-top: 1px solid #eaeaea;*/
  margin-top: 300px;
  display: grid;
  align-content: center;

}

.containerFooter{
  display: flex;
  justify-content: center;
  background-color: #FFEA00;
}
.containerFooter div{
  margin:30px;
}
.socialMedia{
  display: flex;
  justify-content: center;
  background-color: #FFEA00;
}
.socialMedia ul{
  list-style: none;
  display: flex;
}
.socialMedia li{
  margin: 0px 30px;
}